# Place any environment variables you wish to be set when you open your shell

# Place your AWS CLI Keys and settings here
AWS_ACCESS_KEY_ID=TODO
AWS_SECRET_ACCESS_KEY=TODO
AWS_DEFAULT_REGION=us-gov-west-1

# Project Name will appear in your prompt if you use a default bash prompt from this playbook
PROJECT_NAME=TODO-dev

# This variable controls the Ansible "inventory" shortcuts in the .bashrc
PROJECT_ANSIBLE_INVENTORY=TODO-dev

# Place your ansible vault password here for the environment you're using
ANSIBLE_VAULT_PASSWORD=TODO

# Place your "owner" here. Often this will be your initials for development purposes
AWS_OWNER=TODO

# Enable the Ansible debugger
ANSIBLE_ENABLE_TASK_DEBUGGER=True
