# Place your git credentials here. You will need to create a Personal Access Token
GIT_USERNAME=
GIT_PASSWORD=

# Place your AWS CLI Keys and settings here
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-gov-west-1

# Place your ansible vault password here for the environment you're using
ANSIBLE_VAULT_PASSWORD=

# Place your "owner" here. Often this will be your initials for development purposes
AWS_OWNER=

# Place other environment variables here
ANSIBLE_ENABLE_TASK_DEBUGGER=True