# Set your variable overrides here - see variables.pkr.hcl for a complete list of available variables
ssh_username = "bender"
ssh_password = "bender"
skip_export = true
keep_registered = true
numvcpus = 4
memsize = 4096