export GIT_USERNAME={{ lookup('env', 'GIT_USERNAME') }}
export GIT_PASSWORD={{ lookup('env', 'GIT_PASSWORD') }}
export AWS_ACCESS_KEY_ID={{ lookup('env', 'AWS_ACCESS_KEY_ID') }}
export AWS_SECRET_ACCESS_KEY={{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
export AWS_DEFAULT_REGION={{ lookup('env', 'AWS_DEFAULT_REGION') }}
export ANSIBLE_VAULT_PASSWORD={{ lookup('env', 'ANSIBLE_VAULT_PASSWORD') }}
export AWS_OWNER={{ lookup('env', 'AWS_OWNER') }}